<div class="container text-center">
  <div class="row" style="height: 450px; padding: 2%;">
    <div class="col" >
      <textarea class="form-control" aria-label="With textarea" #inputValue >{{texto1}}</textarea>
    </div>
    <div class="col" >
      <textarea class="form-control" aria-label="With textarea" id="myOutput">{{texto2}}</textarea>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <button class="btn btn-info" (click)="printOnTextArea(inputValue.value)">Limpiar</button>
    </div>
    <div class="col">
      <button class="btn btn-outline-dark" (click)="copyToClipboard()"><i class="bi bi-clipboard"></i></button>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
